[Unit]
Description=UrsaDB
After=network.target

[Service]
ExecStart=/usr/local/bin/ursadb db.ursa
WorkingDirectory=/opt/ursadb
Environment="PATH=/opt/ursadb:/usr/bin:/usr/local/bin/"
TimeoutStopSec=30
Restart=always
PIDFile=/run/ursadb.pid

[Install]
WantedBy=multi-user.target
