[submodule "extern/spdlog"]
	path = extern/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "extern/libzmq"]
	path = extern/libzmq
	url = https://github.com/zeromq/libzmq.git
[submodule "extern/cppzmq"]
	path = extern/cppzmq
	url = https://github.com/zeromq/cppzmq.git
